#header {
    background-image: url('../images/sovereign/4a-top-banner.jpg');
}

.title-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.top-title {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30%;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.7);
    padding: 1rem;
}

.info a h5 {
    font-size: 1.5rem;
}

.rts-section-gap {
    padding: 60px;
}

#contactContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.thumbnailImage {
    height: 300px;
}

.col-lg-4 {
    width: 350px;
}