header.header-three,
.header-three.header--sticky.sticky {
    padding-top: 0;
}

.header-three.header--sticky.sticky {
    padding: 0;
}

.pre-title {
    color: var(--color-primary) !important;
}

h1.title {
    text-shadow: 2px 2px 4px black;
}

#fullText {
    text-shadow: none;
}

#getStarted {
    color: black;
    background-color: white;
}

#services {
    margin-top: 4rem;
}

#servicesImage,
#servicesCover {
    width: 500px;
    margin-right: 1rem;
}

.veil {
    animation: 1s veil ease-in-out forwards;
}

#headshot {
    animation: none;
    z-index: 1;
}

#floatingLogo {
    animation: jump-2 8s linear infinite;
}

.valuePropCTAContainer {
    display: flex;
    gap: 1rem;
}

#secondaryButton {
    border: thin solid black;
    color: black;
    background-color: white;
}

.testimonials {
    background-image: url('../../assets/images/sovereign/testimonial-background.jpg');
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

.testimonialContainer {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: white;
    box-shadow: 4px 4px 0px var(--color-primary);
    margin: auto;
    padding: 1.5rem;
    text-align: center;
}

.testimonialContainer h6 {
    text-align: right;
}

.testimonial {
    display: none;
}

.controls {
    display: flex;
    gap: 3rem;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}

.active {
    display: block;
}

#web-design {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes veil {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.0000001;
    }
    100% {
        opacity: 1;
    }
}