.headerSpace {
    background-color: black;
    height: 100px;
}

.headerFade {
    background: linear-gradient(to bottom, black, white);
    height: 20px;
}

#processStart {
    margin-top: 3rem;
}

.accordion-service-bg {
    box-shadow: 4px 4px 4px black;
}

.rts-section-gapBottom {
    padding-bottom: 60px;
}

.satisfaction {
    padding-bottom: 4rem;
}

@media screen and (max-width: 768px) {
    .title-three-center .bg-title {
        font-size: 75px;
    }
}